@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
*{
	padding: 0;
	margin: 0;

}
body{
	background-image: url("https://img.freepik.com/vector-gratis/fondo-abstracto-azul-tecnologia-hud_52683-21166.jpg?w=2000");
}
h1{
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
}
nav ul{
	background-color: #666699;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
nav li{
	display: inline-flex;
}
nav a{
	text-decoration: none;
color: white;
padding: 10px;
width: 150px;
}
nav li:hover {
	background-color: black;

}
img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
}
.contenido{
	display: flex;
	margin: 60px;
}
.articulos {
	width: 80%;
	border-right: 3px solid black;
}
.secciones {
	display: flex;
	align-items: center;
	padding: 40px;
}
menu-secundario{
	width: 20%;
	margin-top: 60px; 
}
.menu-secundario a {
	display: block;
	text-align: center;
	color: black;
	margin-bottom: 20px;
}
footer {
	width: 100%;
	height: 100px;
	color: white;
	background-color: black;
	margin-top: 40px;
}
footer p {
	text-align: center;
	padding: 50px;
}
#menu ul{
list-style: none;
margin:0;
padding:0;
width: 100%;
}
#menu #item{
	float: left; 
}
#menu #item a{
	background:rgba(112, 128, 144);
	color: rgba(0, 0, 0);
	padding: 12px 55px;
	display: block;
	font-family: Arial, Helvetica, san ;
	font-size: 16px;
	text-decoration: none;
	opacity: 0.6;
	border: 5px;

}
#menu #desple{
	display: none;
	position: absolute;
	min-width: 70px;
}
#menu #item:hover #desple{
	display:block;
background-color: black;
}
#menu #despleg{
	display: none;
	position: absolute;
	min-width: 10px;

}
#menu #item:hover #despleg{
	display: block;
}
table{
	align-content: : center;
	width: 50%;
	height: 500px;
	margin-left: 30%;
	border-color: black;
	background-color: black;
	font-family:'Rubik Moonrocks', cursive;
	font-size: 15px;
}
.f{
	background: #9EF7DF;
}
iframe{
	margin-left: 30%;
}
.clases{
	background-color: black;
	opacity: 0.8;
}
h2{
	font-size: 25px;
}